<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="shortcut icon"
      href="/public/images/icon.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title><%= title %></title>
  </head>
  <body>
    <main class="container">
      <section>
        <!--Header-->
        <div class="header">
          <div>
            <img
              class="logo face"
              src="/public/images/Logo.png"
              alt="easy-shop"
            />
          </div>
          <h2 class="header-text">
            Welcome to Easy Shop - Backend (REST API SERVICE).
          </h2>
        </div>
        <!--Header-->

        <!--Technology-->
        <div>
          <h1 class="tech-text">Technologie's behind</h1>
          <div class="tech-div">
            <div class="techtool-div">
              <h2 class="techtool-text">Front-End Tech Stack</h2>
              <div class="inner-div">
                <img
                  class="tech-img-expo bounces"
                  src="/public/images/expo.svg"
                  alt="expo"
                />
                <img
                  class="tech-img-rn bounces"
                  src="/public/images/react-native-1.svg"
                  alt="expo"
                />
                <img
                  class="tech-img-redux bounces"
                  src="/public/images/redux.svg"
                  alt="expo"
                />
                <img
                  class="tech-img-js bounces"
                  src="/public/images/logo-javascript.svg"
                  alt="expo"
                />
              </div>
            </div>
            <div class="techtool-div">
              <h2 class="techtool-text">Backend Tech Stack</h2>
              <div class="inner-div">
                <img
                  class="tech-img-node bounces"
                  src="/public/images/nodejs-icon.svg"
                  alt="expo"
                />
                <img
                  class="tech-img-express bounces"
                  src="/public/images/express-109.svg"
                  alt="expo"
                />
                <img
                  class="tech-img-mongo bounces"
                  src="/public/images/mongodb-icon-1.svg"
                  alt="expo"
                />
                <img
                  class="tech-img-js bounces"
                  src="/public/images/logo-javascript.svg"
                  alt="expo"
                />
              </div>
            </div>
            <div class="techtool-div">
              <h2 class="techtool-text">PaaS</h2>
              <div class="inner-div">
                <img
                  class="tech-img-heroku bounces"
                  src="/public/images/heroku-1.svg"
                  alt="expo"
                />
              </div>
            </div>

            <div class="techtool-div">
              <h2 class="techtool-text">Payment</h2>
              <div class="inner-div">
                <img
                  class="tech-img-razor bounces"
                  src="/public/images/razorpay.svg"
                  alt="expo"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <h4 class="footer-text">EASY SHOP BY S DINESH</h4>
    </footer>
  </body>
</html>
